<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

 	<listeners>
		<listener class-name="com.application.listeners.ExtentReporterNG"/>
		
	</listeners>
  <test thread-count="5" name="Test">
  	
    <classes>
      <class name="com.application.seleniumeasy.tests.get_total_test"/>
      <class name="com.application.seleniumeasy.tests.display_messate_test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
